
.cartContainer {
  position: absolute;
  font-size: 18px;
  padding: 24px;
  font-weight: 600;
  width: 444px;
  height: 268px;
  left: 880px;
  top: 71px;
  background-color: white;
  border-radius: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 2px 8px 0px rgba(33, 37, 41, 0.08),
    0px 1px 2px 0px rgba(33, 37, 41, 0.1);
}

.cartItem {
  width: 450px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid rgb(222, 226, 230);

}

.cardPrice {
  font-size: 20px;
}

.cartItemInfo {
  display: flex;
  
}



.cardControls {
  margin-left: auto;
  margin-top: auto;
  padding-bottom: 8px;
}
.cartItemImg {
  width: 64px;
  height: 64px;
  background-color: aqua;
}


.cardIcon {
  background-color: rgb(222, 226, 230);
  color: black;
  width: 30px;
  height: 30px;
}


.cardControls {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
}

.cartTotalSum {
  display: flex;
  justify-content: space-between;
  
}

.emptyCart {
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  height: 100%;               
}

.emptyCart p {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: gray;
}
