.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* по 4 в ряд */
  justify-items: center; /* центрируем карточки по горизонтали */
  margin-right: 20px;
}

.catalog {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-left: 35px;
}
