.header {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: sticky; /* Изменено с static на sticky */
    top: 0; /* Обязательно для sticky */
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
}


.button {
    background-color: #54B46A;
    margin-right: 40px;

}

.buttonImg {
    margin-left: 5px;
}

